#front-feature{
        .container{
        position: relative;
        padding: 1rem;
        // top: -250px;
        // top: -250px;
        transform: translateY(-130px) !important;
        background: #ffffff;
        -webkit-box-shadow: -2px 3px 21px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 3px 21px -2px rgba(0,0,0,0.75);
        box-shadow: -2px 3px 21px -2px rgba(0,0,0,0.75);
        border-radius: .5rem;
        margin-bottom: 3rem;
    }
    .content{
        padding:1.5rem;
        
        p{
            text-align: left;
        }
    }
    .g-line{
        height: 2px;
        width: 6rem;
        background: #48aa48;
        margin: auto;
        margin-bottom: 2rem;
    }

.feature-grn-btn2{
    border-radius: .5rem;
    background: #48AA48;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;

}
.main-container{
    position: relative;
    display: inline-block;
    .square{
        background: rgba(255, 255, 255, 0.5);
        border: 1.5px solid #48AA48;
        width: 40px;
        height: 40px;
        color: black;
        position: absolute;
        bottom: 1px;
        left: 2.5rem;
        p {
            vertical-align: middle;
            line-height: 1.8;
            font-size:20px;
            font-weight: bold;
        }
    }
    .gray-dark{
        background-color: #272528;        
        border-radius: 50%;
        // height: 250px;
        // width: 250px;
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0.6;
    }
    .gray-dark:hover{
        opacity: 0.1;
        transition: 200ms ease-in-out;
    }
    .gray-normal{
        background-color: #76777b;
        border-radius: 50%;
        // height: 250px;
        // width: 250px;
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0.6;
    }
    .gray-normal:hover{
        opacity: 0.1;
        transition: 200ms ease-in-out;
    }
    .gray-lighter{
        background-color: #e0dcdb;
        border-radius: 50%;
        // height: 250px;
        // width: 250px;
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0.6;
    }
    .gray-lighter:hover{
        opacity: 0.1;
        transition: 200ms ease-in-out;
    }

    // &:hover img{
    //     transform: scale(1.1);
    //     transition: 200ms ease-in-out;
    //     margin: 0 1px;
    // }
    .caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
    .caption p{
        color: #f5eded;
        font-size: 1.4rem;
        font-weight: bold;
    }
    .line{
        background: #48AA48;
        width: 40px;
        height: 3px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        margin-top: 1rem;
    }
}
.circle {
    display: inline-block;
    height: 250px;
    width: 250px;
    // height: 100%;
    // width: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    img{
        width: 100%;
        height: 250px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
    }
}    
}

.g-line{
    height: 2px;
    width: 6rem;
    background: #48aa48;
    margin: auto;
    margin-bottom: 2rem;
}
