.contact-container{
    position: relative;
    .image-1{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        // background-position: center;
        background-size: cover;
        background-color: #9c9c9c;
        background-repeat: no-repeat;
        background-position: top;        
    }
    .contact-texts{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        background-attachment: local;
        position: relative;
        color: white;
        &::before{
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0px;
            left:0px;
            background: rgba(72, 170, 72, .8);
        }
    }
    .front-cont-img{
        width: 100%;
        height: auto;
    }
    .c-container{
        position: relative;
        text-align: left;
        p{
            color: #ffffff;
            font-size: 13px;
        }
        .img-bg2{
            top: 0px;
        }
        .overlay{
            position: absolute;
            background: rgba(72, 170, 72, .8);
            width: 100%;
            top: 0px;
            height: 100%;
        }
        .row{
            padding: 4rem;
        }
        .form{
            transform: translateY(-465px)!important;
        }
    }

    .form-container{
        color: #637382;
        background: #ffffff;
        border: 2px solid #48aa48;
        border-radius: .5rem;
        padding: 1rem;
        input[type=text], input[type=email], textarea{
            background: #e1e1e1;
        }
        label{
            font-size: 12px;
        }
        .btn{
            margin-left: auto;
            margin-right: auto;
            display: block;
            font-weight: bold;
            padding: .5rem 2.5rem;
        }
        h5{
            text-align: center;
        }
    }
    @media (min-width: 768px) {
        .form-container{
            transform: translateY(200px);
        }
    }
}


