#navbarCollapse{
	ul{
		li{
			color: #484848!important;
			padding-right: 1rem;
		}
	}

}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(62, 59, 59, 0.9)!important;
    // color: red!important;
    font-weight: 500;
}

#menu-primary-menu{
	margin-left: auto;
	li{
		padding: 0 .6rem!important;
		.active{
		position: relative;
		font-weight: bold;
		opacity: 1;	
		color: #48aa48 !important;
	}

	}
	li a:hover{
		// color: #48aa48 !important;
		color: #48aa48 !important;
	}
}

.nav-link:active{
	color: #48aa48 !important;
}

.nav-link:hover{
	color: #48aa48 !important;
}

#menu-main-menu{
	margin-left: auto;
	li{
		padding: 0 .6rem!important;
		.active{
		position: relative;
		font-weight: bold;
		opacity: 1;	
		color: #48aa48 !important;
	}

	}
	li a:hover{
		// color: #48aa48 !important;
		color: #48aa48 !important;
	}
}


.custom .custom2{
	display: flex;
	align-items: center;
}