.partners{
    margin: 4rem 0 3rem 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    .row{
        // padding: 1rem;
        display: inline-block;

        a{
            padding-left: 2rem;
            img{
            margin: 5px;
            }
        }
    }    
}

@media only screen and (max-width: 768px){
    .row{
      
            display: block;
            margin-left: auto;
            margin-right: auto;
        
    }
} 